form#delete_photo_form(
  method="POST"
  role="form"
  v-on:submit.prevent="post"
)
  //- :action="deleteRoute"
  input(type="hidden" name="_method" value="DELETE")
  input(type="hidden" name="_token" v-model="store.csrf_token")
  input(
    type="submit"
    value="Borrar permanentemente"
    form="delete_photo_form"
  ) 