form#sortphotos_form(
  method="POST"
  :action="sortPhotosUrl"
  role="form"
  v-on:submit.prevent="post"
)
      
  input(
    type="hidden" 
    name="_token" 
    v-model="store.csrf_token"
  ) 

  div(v-if="active_calling_component.ordered_ids")
    input(
      type="hidden" 
      name="photos[]" 
      v-model="active_calling_component.ordered_ids"
    ) 

  input(
    type="hidden"
    name="photoable_id"
    v-model="active_calling_component.photoableId"
    form="sort_photos_form"
  )

  input(
    type="hidden"
    name="photoable_type"
    v-model="active_calling_component.photoableType"
    form="sort_photos_form"
  )

  input(
    type="hidden"
    name="use"
    v-model="active_calling_component.use"
    form="sort_photos_form"
  )

  input(
    type="hidden"
    name="class"
    v-model="active_calling_component.class"
    form="sort_photos_form"
  )
